---
published: false
---
/* CSS by Gramkraxor */

* {
	letter-spacing: inherit;
}
::selection {
	background: #4080C0;
}
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}
body {
	font-size: 16px;
	font-family: 'Ubuntu Mono', Consolas, monospace;
	letter-spacing: 0.0625em;
	color: white;
	background-color: black;
}
#container {
	padding: 0.1em 1.5em 1em 1em;
}
#container output {
	clear: both;
	width: 100%;
}
#container output h3 {
	margin: 0;
}
#container output pre {
	margin: 0;
}
.input-line {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-align: stretch;
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-align: stretch;
	display: box;
	box-orient: horizontal;
	box-align: stretch;
	clear: both;
}
.input-line > div:nth-child(2) {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	box-flex: 1;
}
.prompt {
	white-space: nowrap;
	/*color: hsl(225, 75%, 50%);*/
	color: #2050E0;
	font-weight: bold;
	/*margin-right: 7px;*/
	margin-right: 0.125em;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-orient: vertical;
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-orient: vertical;
	display: box;
	box-pack: center;
	box-orient: vertical;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.cmdline {
	outline: none;
	background-color: transparent;
	margin: 0;
	width: 100%;
	font: inherit;
	border: none;
	color: inherit;
}
.ls-files {
	height: 45px;
	-webkit-column-width: 100px;
	-moz-column-width: 100px;
	-o-column-width: 100px;
	column-width: 100px;
}
