---
title_override: JS Toys by Gramkraxor
desc: "Tools, games, and concept pieces built with simple JavaScript and CSS."
layout: project
title: 'JS Projects'
desc: 'Tools, games, and concept pieces built with simple JavaScript and CSS.'
css: index
---

<div id="list">
{%- assign sorted_projects = site.projects | sort: 'rank' | reverse -%}
{%- for project in sorted_projects %}
	<p class="{{ project.url | remove: '/' }}">
		<a href="{{ project.url | relative_url }}">.{{ project.url }}</a>
	</p>
{%- endfor %}
</div>
